h1 {
    font-size: 40px;
    text-align: center;
    text-decoration: double;
    margin-top: 20px;
}
.par {
    font-size: 19px;
    margin-left: 28px;
    margin-top: 20px;
}
h2 {
    margin-top: 25px;
    font-size: 30px;
    margin-left: 25px;
    color: #6d85ff;
}
p {
    font-size: 18px;
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 52px;
}
.flex {
    display: inline;
}
div {
    display: flex;
}
.servmimg {
    float: right;
    width: 20vw;
    margin-right: 200px;
}